<div class="w-full h-full rounded-xl bg-white shadow-md flex flex-col">
    <!-- Header -->
    <div class="flex items-center min-h-32 rounded-t-xl p-4 md:p-6 relative overflow-hidden">

        <div class="bg-[url('/public/assets/consultation-list-header.jpg')] w-full h-full absolute top-0 left-0 bg-cover bg-center <% if(consultation.statut === 2) { %>grayscale<% } %>"></div>

        <h2 class="text-xl md:text-3xl font-bold text-white w-[80%] text-shadow-lg self-end z-10">
            <%= consultation.titre %>
        </h2>

        <div class="absolute top-0 right-0 <% if (consultation.statut === 1) { %>bg-green-600<% } else if (consultation.statut === 2) { %>bg-purple-600<% } else { %>bg-yellow-400<% } %> text-white py-2 px-8 rounded-bl-[20px] rounded-tr-xl text-lg font-semibold">
            <%= consultation.statut === 1 ? "En cours" : consultation.statut === 2 ? "Terminé" : "À venir" %>
        </div>
    </div>

    <!-- Body -->
    <div class="flex flex-col flex-1 p-4 md:px-6 gap-4 md:gap-6">

        <!-- Description -->
        <div class="text-tertiary text-md md:text-lg">
            <%= consultation.descr %>
        </div>

        <!-- Informations -->
        <div class="flex flex-col gap-2 md:gap-6">
            <div class="flex flex-row flex-wrap gap-2 items-center">

                <!-- Group -->
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-primary">
                        group
                    </span>

                    <span class="text-primary text-md font-semibold">
                        <%= consultation.nbParticipants %> participants
                    </span>
                </div>

                <!-- Divider -->
                <div class="h-6 bg-tertiary w-0.5 opacity-20 hidden md:block"></div>

                <!-- Schedule-->
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-tertiary">
                        schedule
                    </span>

                    <span class="text-tertiary text-md font-medium">
                        Fin le <% var dateFin = new Date(consultation.date_fin * 1000); %><%= dateFin.toLocaleDateString("fr-FR", { day: "2-digit", month: "2-digit", year: "numeric" }) %>
                    </span>
                </div>
            </div>

            <!-- Vote -->
            <div class="flex flex-row items-center">
                <div class="bg-green-600 w-[25%] h-3 rounded-l-full"></div>

                <div class="bg-yellow-600 w-[25%] h-3"></div>

                <div class="bg-gray-600 w-[25%] h-3"></div>

                <div class="bg-red-600 w-[25%] h-3 rounded-r-full"></div>
            </div>

            <!-- Legend -->
            <div class="flex flex-row flex-wrap justify-start w-full items-center gap-4">
                <div class="flex flex-row items-center gap-2">
                <div class="bg-green-600 w-4 h-4 rounded-full"></div>
                <p>Très favorable
                    <span class="font-semibold">
                    25%
                    </span>
                </p>
                </div>

                <div class="flex flex-row items-center gap-2">
                <div class="bg-yellow-600 w-4 h-4 rounded-full"></div>
                <p>Favorable
                    <span class="font-semibold">
                    25%
                    </span>
                </p>
                </div>

                <div class="flex flex-row items-center gap-2">
                <div class="bg-gray-600 w-4 h-4 rounded-full"></div>
                <p>Neutre
                    <span class="font-semibold">
                    25%
                    </span>
                </p>
                </div>

                <div class="flex flex-row items-center gap-2">
                <div class="bg-red-600 w-4 h-4 rounded-full"></div>
                <p>Opposé
                    <span class="font-semibold">
                    25%
                    </span>
                </p>
                </div>

            </div>
        </div>

        <div class="flex justify-end w-full mt-auto">
        <a href="/consultations/<%= consultation.id_consultation %>" class="bg-primary/80 text-white font-bold rounded-xl px-4 py-2 w-full md:w-auto hover:bg-primary transition-colors flex items-center justify-center gap-2">
            <% if (consultation.statut === 1) { %>
                <span class="material-symbols-outlined">
                check
                </span>
                Voter maintenant
            <% } else if (consultation.statut === 2) { %>
                <span class="material-symbols-outlined">
                visibility
                </span>
                Voir les résultats
            <% } else { %>
                <span class="material-symbols-outlined">
                check
                </span>
                Vote à venir
            <% } %>
        </a>
        </div>
    </div>
    </div>