<div class="flex w-full flex-col">
  <div class="flex flex-col items-start h-full gap-4">
    <div class="flex flex-col gap-2">
      <h1 class="text-xl md:text-4xl font-bold">
        Résultats (<%= consultation.nbParticipants %> votes)
      </h1>

      <div class="h-1.5 bg-secondary w-[50%]"></div>
    </div>

    <!-- Vote -->
    <div class="flex flex-col w-full">
      <div class="flex flex-row items-end gap-4 w-full">
        <input type="checkbox" class="h-5 w-5" />

        <div class="flex flex-col w-full gap-2">
          <div class="flex flex-row justify-between w-full">
            <p class="text-xl">Très favorable</p>
            <p class="text-xl font-semibold">
              25%
              <span class="font-normal">
                (<%= Math.round(consultation.nbParticipants * 0.25) %>
                votes)</span
              >
            </p>
          </div>

          <div class="bg-gray-300 w-full h-5 rounded-full">
            <div
              class="bg-green-600 h-full rounded-full"
              style="width: 25%"
            ></div>
          </div>
        </div>
      </div>

      <div class="flex flex-row items-end gap-4 w-full">
        <input type="checkbox" class="h-5 w-5" />

        <div class="flex flex-col w-full gap-2">
          <div class="flex flex-row justify-between w-full">
            <p class="text-xl">Favorable</p>
            <p class="text-xl font-semibold">
              25%
              <span class="font-normal">
                (<%= Math.round(consultation.nbParticipants * 0.25) %>
                votes)</span
              >
            </p>
          </div>

          <div class="bg-gray-300 w-full h-5 rounded-full">
            <div
              class="bg-yellow-600 h-full rounded-full"
              style="width: 25%"
            ></div>
          </div>
        </div>
      </div>

      <div class="flex flex-row items-end gap-4 w-full">
        <input type="checkbox" class="h-5 w-5" />

        <div class="flex flex-col w-full gap-2">
          <div class="flex flex-row justify-between w-full">
            <p class="text-xl">Neutre</p>
            <p class="text-xl font-semibold">
              25%
              <span class="font-normal">
                (<%= Math.round(consultation.nbParticipants * 0.25) %>
                votes)</span
              >
            </p>
          </div>

          <div class="bg-gray-300 w-full h-5 rounded-full">
            <div
              class="bg-gray-600 h-full rounded-full"
              style="width: 25%"
            ></div>
          </div>
        </div>
      </div>

      <div class="flex flex-row items-end gap-4 w-full">
        <input type="checkbox" class="h-5 w-5" />

        <div class="flex flex-col w-full gap-2">
          <div class="flex flex-row justify-between w-full">
            <p class="text-xl">Contre</p>
            <p class="text-xl font-semibold">
              25%
              <span class="font-normal">
                (<%= Math.round(consultation.nbParticipants * 0.25) %>
                votes)</span
              >
            </p>
          </div>

          <div class="bg-gray-300 w-full h-5 rounded-full">
            <div
              class="bg-red-600 h-full rounded-full"
              style="width: 25%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
