<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participation Citoyenne</title>

    <!-- Link to the compiled CSS -->
    <link rel="stylesheet" href="/public/styles/build.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <!-- Material Symbols Outlined -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="stylesheet" href="/public/styles/theme.css" />
  </head>

  <body class="font-roboto h-screen">
    <header class="header">
      <!-- Left part of the header (Logo, title and subtitle) -->
      <div class="left">
        <!-- Logo -->
        <div
          class="flex justify-start items-center gap-4 md:gap-8 h-full ml-4 md:ml-10"
        >
          <div
            class="bg-white p-2 rounded-xl w-[75px] h-[75px] md:w-[100px] md:h-[100px] flex items-center justify-center bg-[url('/public/assets/Paris-logo.jpg')] bg-cover bg-center"
          ></div>

          <!-- Title and subtitle -->
          <div>
            <h1 class="text-2xl md:text-4xl font-bold"><%= title %></h1>
            <h3 class="text-base md:text-lg"><%= subtitle %></h3>
          </div>
        </div>
      </div>

      <!-- Right part of the header (Banner)-->
      <div class="right"></div>
    </header>

    <!-- Secondary color separator -->
    <div class="bg-secondary h-2 md:h-4 w-full hidden sm:block"></div>

    <!-- Navigation -->

    <div
      class="flex flex-row items-center justify-center gap-2 md:gap-4 py-2 md:py-4 text-white bg-secondary cursor-pointer md:hidden"
      id="dropdown"
    >
      <span
        class="material-symbols-outlined transition-transform duration-300"
        id="dropdown-icon"
        >menu</span
      >

      <p class="text-lg">Menu</p>
    </div>

    <ul
      id="dropdown-links"
      class="max-h-0 overflow-hidden opacity-0 transition-all duration-300 ease-in-out bg-white text-center md:hidden"
    >
      <li>
        <a href="/" class="block p-4 border-b-1 border-tertiary/30 border-solid"
          >Accueil</a
        >
      </li>
      <li>
        <a
          href="/consultations"
          class="block p-4 border-b-1 border-tertiary/30 border-solid"
          >Consultations</a
        >
      </li>
      <li>
        <a
          href="/aide"
          class="block p-4 border-b-1 border-tertiary/30 border-solid"
          >Aide</a
        >
      </li>
      <li>
        <a
          href="/admin"
          class="block p-4 border-b-1 border-tertiary/30 border-solid"
          >Administrateur</a
        >
      </li>

      <div
        class="text-tertiary p-4 flex flex-row justify-center items-center text-md md:text-lg gap-2 md:gap-4"
      >
        <a href="#" class="text-tertiary font-light open-login-modal">
          Se connecter
        </a>

        <div class="h-6 bg-tertiary w-0.5 opacity-20"></div>

        <a href="#" class="text-tertiary font-semibold open-register-modal">
          S'inscrire
        </a>
      </div>
    </ul>

    <!-- Separator -->
    <div
      class="border-b-1 border-tertiary/30 border-solid flex justify-between items-center hidden md:flex"
    >
      <!-- Navigation links -->
      <nav class="bg-white text-tertiary py-2 md:py-4 ml-4 md:ml-10 navbar">
        <ul
          class="flex justify-start gap-4 md:gap-16 text-md md:text-lg font-medium"
          id="nav-links"
        >
          <li class="<%= path === '/' ? 'text-primary' : '' %>">
            <a href="/" id="accueil"> Accueil </a>
          </li>
          <li
            class="<%= path.startsWith('/consultations') ? 'text-primary' : '' %>"
          >
            <a href="/consultations" id="consultations">Consultations</a>
          </li>
          <li class="<%= path.startsWith('/aide') ? 'text-primary' : '' %>">
            <a href="/aide" id="aide">Aide</a>
          </li>
          <li class="<%= path.startsWith('/admin') ? 'text-primary' : '' %>">
            <a href="/admin" id="admin">Administrateur</a>
          </li>
        </ul>
      </nav>

      <!-- Identification section -->
      <div
        class="text-tertiary py-2 md:py-4 mx-4 md:mx-10 flex flex-row items-center text-md md:text-lg gap-2 md:gap-4"
      >
        <a href="#" class="text-tertiary font-light open-login-modal">
          Se connecter
        </a>

        <div class="h-6 bg-tertiary w-0.5 opacity-20"></div>

        <a href="#" class="text-tertiary font-semibold open-register-modal">
          S'inscrire
        </a>
      </div>
    </div>
  </body>
</html>
